<main class="main">
  <div class="inner">
    <div class="gosyuin_wrapper">
      <p class="gosyuin_hedding">
        <%= link_to "#{@gosyuin.user.name}", "#", class: :gosyuin_user %>
        <%= @gosyuin.title %>
      </p>

      <% if user_signed_in? && current_user.id == @gosyuin.user_id %>
        <div class="gosyuin_manage">
          <%= link_to "編集", edit_gosyuin_path, class: :gosyuin_btn %>
          <%= link_to "削除", gosyuin_path(@gosyuin.id), method: :delete , class: :gosyuin_btn %>
        </div>
      <% end %>
     
      <div class="gosyuin_image">
        <%= image_tag @gosyuin.image.variant(resize: '600x600'), class: :gosyuin_img %>
      </div>
      
      <div class="gosyuin_edit">
       <div class="gosyuin_body">
        <div class="gosyuin_detail">
          <p class="detail_title">【　寺院名　】<%= @gosyuin.title %></p>
        </div>
        <div class="gosyuin_detail">
          <p class="detail_title">【　県　名　】<%= @gosyuin.prefecture.name %></p>
        </div>
        <div class="gosyuin_detail">
          <p class="detail_title">【　種　類　】<%= @gosyuin.stamp.name %></p>
        </div>
        <div class="gosyuin_detail">
          <p class="detail_title">【　希少度　】<%= @gosyuin.limited.name %></p>
        </div>
        <div class="gosyuin_detail">
          <p class="detail_title">【　説明文　】</p>
          <p class="detail_caption"> <%= @gosyuin.caption %> </p>
        </div>
       </div>
      </div>

      <p class="comment_btn">
        <%= link_to "コメント",  gosyuin_comments_path(@gosyuin, @comment), class: :gosyuin_btn %>
      </p>
    </div>
  </div>
</main>
